* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos para index*/
body {
    font-family: 'Merriweather', serif;
}
/* Estructura del main */ 
h1 {
    font-size: 50px;
    text-align: center;
    margin: 30px;
}

h2  {
    color: red;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
}
.logo{
    display: block;
    margin: 0 auto; 
    margin-top: 0;
    
}

.brasas {
     width: 100%; 
     height: 300px; 
     object-fit: cover;
     object-position: center;
     border-radius: 5px;
     margin-top: 20px;
}

.empanadas {
    margin-left: 20px;
    margin-top: 75px;
    height: 600px;
}
.navbar-nav{
    font-size: 30px;
    margin-top: 1px;
}
.nav-link {
    margin-left: 120px;
    color: #2E89D9  !important;
    margin-top: 30px;
}


/*Estilos para recetas fáciles*/
h3 {
    color: red;
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}



.content-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px; 
}

.recipe-image {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
    margin-right: 20px; 
}
/* Recetas fáciles*/
.pure {
    margin-left: 20px;
    margin-top: 75px;
    height: 400px;
}
.text-content-uno {
    flex: 1; 
}

.text-content {
    flex: 1; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 20px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     text-align: center;
}
.mila {
    font-size: 30px;
    text-align: center;
    border: 5px solid #efa797;
    padding: 70px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: white;
    width: 60%;
    margin-left: 230px;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; padding: 20px;
}
/*Estilos para videos*/
.rojo {
    margin-left: 20px;
    margin-top: 75px;
    height: 400px;
}

.video-grid { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
    padding: 20px; 
} 
.video-item { 
    text-align: center; 
    padding: 10px; 
    background-color: #f9f9f9; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
} 
.video-item video { 
    width: 100%;
    height: auto; 
    border-radius: 5px;
}

/* Estilo para postres */

.content-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px; 
}

.recipe-image {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
    margin-right: 20px; 

}
.pure {
    margin-left: 20px;
    margin-top: 75px;
    height: 400px;
}
.text-content-uno {
    flex: 1; 
}

.text-content {
    flex: 1; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 20px; 
    background-color: #f9f9f9; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     text-align: center;
}
.mila {
    font-size: 30px;
    text-align: center;
    border: 5px solid #efa797;
    padding: 70px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: white;
    width: 60%;
    margin-left: 230px;
}

.grid { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; padding: 20px;
}
/* Estilo para artiulos de cocina */

.compras {
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    margin-right: 20px;

}
footer {
    text-align: center;
    background-color: #2E89D9;
    padding: 10px;
}
/* Estilos para Smartphone */

/* Para index */

@media (max-width: 480px){

.nav-link {
    font-size: 10px;
    color: #2E89D9;
    text-decoration: none;
    padding: 12px;
    
}

h1{
    font-size: 30px;
}
h2 {
    font-size: 20px;
}

.empanadas {
    margin-left: 20px;
    margin-top: 10px;
    height: 200px;

}
.content-container {
    display: block;
    align-items: flex-start;
    margin-bottom: 20px; 
}
.mila {
    font-size: 20px;
    text-align: center;
    border: 5px solid #efa797;
    padding: 10px;
    margin: 1px 0;
    border-radius: 5px;
    background-color: white;
    width: 90%;
    margin-left: 20px;
}
}